<h1>Troll un Con</h1>
<div class="container w-1/3">
  <h3>Créer un Con</h3>
  <%= simple_form_for @con do |f| %>
  <%= f.input :name, label:'nom du con', label_html: { class: 'font-weight-bold' }, input_html: { class: "rounded-pill", placeholder:'Jean Michel Con'} %>
  <%= f.input :email, label:'email du con', label_html: { class: 'font-weight-bold' }, input_html: { class: " rounded-pill", placeholder:'jm-Con@moncon.com'} %>
  <%= f.input :phone, label:'telephone du con', label_html: { class: 'font-weight-bold' }, input_html: { class: " rounded-pill", placeholder:'0606060606'} %>
  <%= f.input :category,
              collection: [['Con de Gauche', :de_gauche], ['Con de Droite', :de_droite], ['Full Frontal', :full_frontal]],
              as: :radio_buttons %>
  <%= f.button :submit, 'Créer le Con', class:'btn btn-outline-danger rounded-pill' %>
<% end %>
</div>

<%= link_to "Tous les cons", cons_path, class:"m-auto" %>
